<h2 class><%=@the_country.name.capitalize%>'s official languages are: </h2>

<ul class="language_list">
<%@array_of_languages.each do |lang|%>
  <li><%=lang.fetch("name")%> </li>
  <%end%>
</ul>
  <a href="/home/<%=@the_country.name%>/">Go back home</a>
<hr>

<h2>Learn a new phrase! </h2>
<%require "google/cloud/translate" %>
<% gt_client = Google::Cloud::Translate.new({ :version => :v2 }) %>
<%@languages = gt_client.languages("en")%>

<form action="/<%=@the_country.name%>/add_phrase_results">
  <label for="phrase1"> Translate </label>
  <input id="phrase1" name="origin_phrase" value = "<%=@input_phrase%>">
    from
  <label for="lang1"> Translate </label>
  <input id="lang1" name="old_language" value = "<%=@input_original_language%>">
    into 

  <label for="translate_language"></label>
    <select name="new_lang" id="translate_language">
      <%@languages.each do |lang|%>
        <option value="<%=lang.code%>">
          <%=lang.name%>
          
        </option>

      <%end%> 
   </select>

   <button>Learn!</button>
  </form>





