<h2 class><%=@the_country.name.capitalize%>'s official languages are: </h2>

<ul class="language_list">
<%@the_country.languages.each do |lang|%>
  <li><%=lang.fetch("name")%> </li>
  <%end%>
</ul>

  <a href="/home/<%=@the_country.name%>/">Go back home</a>
<hr>

<h3>Phrases you learned </h3>

<%require "google/cloud/translate" %>
<% gt_client = Google::Cloud::Translate.new({ :version => :v2 })%>
<%@languages = gt_client.languages("en")%>

<form action="/<%=@the_country.name%>/add_phrase">
  <label for="old_phrase">Add new phrase </label>
  <input id="old_phrase" name = "phrase" placeholder="Enter a phrase...">

  <label for="new_phrase">Original Language </label>
  <select name="old_language" id="new_phrase">
    <%@languages.each do |lang|%>
        <option value="<%=lang.code%>">
          <%=lang.name%>
          
        </option>

      <%end%> 
  </select>
  <button>Learn!</button>
</form>
<br>

<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Original Language </th>
      <th scope="col">Original Phrase</th>
      <th scope="col">Translated Language </th>
      <th scope="col">Translated Phrase</th>
    </tr>
  </thead>

  <tbody>
  <!--make an each loop -->
  <!--show the records where country == @the_country.name -->
  <%Phrase.where({:country => @the_country.name}).each do |phrase|%>
    <tr>
      <th scope="row"><%=phrase.id%></th>
      <td><%=phrase.original_language%> </td>
      <td><%=phrase.original_phrase%></td>
      <td><%=phrase.translated_language%> </td>
      <td><%=phrase.translated_phrase%></td>
      
    <tr>
  <%end%>

  </tbody>
  </tbody>


</table>