<h1><%=@the_country.name%></h1>

<ul class="list-unstyled">
  <li>Capital</li>
  <p style="margin-left: 20px;"><%=@the_country.capital%></p>

  <li>Subregion/Region</li>
  <p style="margin-left: 20px;"><%=@the_country.subregion%>/<%=@the_country.region%></p>

  <li>Population</li>
  <p style="margin-left: 20px;"><%=@the_country.population%></p>

  <li>Languages</li>
  <%@the_country.languages.each do |lang|%>
    <p style="margin-left: 20px;"><%=lang.fetch("name")%></p>
  <%end%>

  <li>Currencies</li>
  <%@the_country.currencies.each do |curr|%>
    <p style="margin-left: 20px;"><%=curr.fetch("code")%></p>
  <%end%>

</ul>


<a href="/my_countries">Go back </a>
<hr>

<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Original Language </th>
      <th scope="col">Original Phrase</th>
      <th scope="col">Translated Language </th>
      <th scope="col">Translated Phrase</th>
    </tr>
  </thead>

  <tbody>
  <!--make an each loop -->
  <!--show the records where country == @the_country.name -->
  <%Phrase.where({:country => @the_country.name}).each do |phrase|%>
    <tr>
      <th scope="row"><%=phrase.id%></th>
      <td><%=phrase.original_language%> </td>
      <td><%=phrase.original_phrase%></td>
      <td><%=phrase.translated_language%> </td>
      <td><%=phrase.translated_phrase%></td>
      
    <tr>
  <%end%>

  </tbody>
  </tbody>


</table>